
<!--<form class="form-horizontal" method="post" action="/graph/import/algorithm/" enctype="multipart/form-data">
	<div class="form-actions">
		<input type="file" name="import_algorithm" accept="application/*"/>
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
			Import Algorithm (*.py)
		</button>
	</div>
</form>-->
<form class="form-horizontal" ng-submit="applyAlgorithm(algorithmMethod, multiple)">
	<select class="form-control" name="algorithm_method" ng-model="algorithmMethod" ng-options="method.name for method in algorithmMethods track by method.id">
	</select>
	<h4 class="md-title" ng-show="algorithmMethod.params.length">Paramètres de l'algorithme</h4>
	<div class="input-group" ng-repeat="param in algorithmMethod.params" ng-if="param.selectNodes == undefined">
{{param.selectNodes}}
		<span class="input-group-addon" id="siz-addon">{{param.name}}</span>

		<input ng-model="param.value" type="number" ng-attr-step="{{param.float ? 0.01 : 1}}" class="form-control" aria-describedby="siz-addon" placeholder="{{param.help}}"/>
	</div>
	<div class="input-group" ng-repeat="param in algorithmMethod.params" ng-if="param.selectNodes != undefined">
		{{param.name}}
		<select-nodes nodes="param.nodes" select="param.selectNodes"></select-nodes>
	</div>
	<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
		<md-input-container class="md-block" flex="50">
			<md-checkbox ng-model="multiple.enabled" aria-label="Checkbox 1" >
			  Apply multiple
			</md-checkbox>
		</md-input-container>
		<md-input-container class="md-block" ng-if="multiple.enabled" flex="50">
			<label>Number of times</label>
			<input ng-model="multiple.times" type="number"/>
		</md-input-container>
	</md-content>
	<div class="text-center" layout="row">
		<button class="btn btn-default" type="submit">Apply algorithm</button>
	</div>
</form>

<md-card ng-if="source.length && mean > 0">
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">Stability Measurement</span>
			<span class="md-subhead">
				Mean : {{mean}} Variance : {{variance}}
			</span>
		</md-card-title-text>
		<!--<md-card-title-media>
			<div class="md-media-lg card-media"></div>
		</md-card-title-media>-->
	</md-card-title>
</md-card>

<md-list ng-if="source.length">
	<md-subheader class="md-no-sticky md-primary">More informations on sources</md-subheader>
	<md-list-item class="md-2-line" ng-repeat="s in source | orderBy : source_order : true">
		<md-icon class="md-avatar-icon">album</md-icon>
		<!--<span class="glyphicon glyphicon-chevron-right md-avatar"></span>-->
	  <div class="md-list-item-text" layout="column">
		<h3>   Node {{s}}</h3>
		<h4> was found {{sourceFrequencies[s]}} times</h4>
		<p ng-if="seeds.length">Distance from seeds : {{sourceDistances[s]}}</p>
	  </div>
	</md-list-item>
</md-list>
