<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">Choose Algorithm</h3></div>
	<div class="panel-body">
		<div class="text-center">
			<!--<form class="form-horizontal" method="post" action="/graph/import/algorithm/" enctype="multipart/form-data">
				<div class="form-actions">
					<input type="file" name="import_algorithm" accept="application/*"/>
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
						Import Algorithm (*.py)
					</button>
				</div>
			</form>-->
			<form class="form-horizontal" ng-submit="applyAlgorithm(algorithmMethod)">
				<select class="form-control" name="algorithm_method" ng-model="algorithmMethod" ng-options="method.name for method in algorithmMethods track by method.id">
				</select>
				<h4 class="md-title" ng-show="algorithmMethod.params.length">Paramètres de l'algorithme</h4>
				<div class="input-group" ng-repeat="param in algorithmMethod.params" ng-if="param.selectNodes == undefined">
{{param.selectNodes}}
					<span class="input-group-addon" id="siz-addon">{{param.name}}</span>

					<input ng-model="param.value" type="number" ng-attr-step="{{param.float ? 0.01 : 1}}" class="form-control" aria-describedby="siz-addon" placeholder="{{param.help}}"/>
				</div>
				<div class="input-group" ng-repeat="param in algorithmMethod.params" ng-if="param.selectNodes != undefined">
					{{param.name}}
					<select-nodes nodes="param.nodes" select="param.selectNodes"></select-nodes>
				</div>
				<div class="text-center">
					<button class="btn btn-default" type="submit">Apply algorithm</button>
				</div>
			</form>
		</div>
	</div>
</div>
