<div class="col-md-4">
<!-- Graph -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Graph : {{ graphList[currentIndex].name }}</h3>
	</div>
    <div class="panel-body">
		<uib-tabset>
			<uib-tab>
				<uib-tab-heading>
					Nouveau
				</uib-tab-heading>
				<uib-accordion close-others="oneAtATime">
					<uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Importer
                                </a>
								<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </h4>
						</uib-accordion-heading>
						<input type="file" on-read-file="uploadGraph($fileContent)" accept="application/json"/>
						<!--<uib-progressbar value=""></uib-progressbar>-->
					</uib-accordion-group>
					<uib-accordion-group is-open="status.open2">
						<uib-accordion-heading>
							<h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Générer
                                </a>
								<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': status.open2, 'glyphicon-chevron-right': !status.open2}"></i>
                            </h4>
						</uib-accordion-heading>
						<form class="form-horizontal" ng-submit="generateGraph(generationMethod, generateN)">
							<!--{% csrf_token %}-->
							<select class="form-control" name="generate_method" ng-model="generationMethod">
								<option value="1">Complete graph</option>
								<option value="2">Cycle graph</option>
								<option value="3">Circular ladder graph</option>
								<option value="4">Dorogovtsev_goltsev_mendes graph</option>
								<option value="5">Empty graph</option>
								<option value="6">Hypercube graph</option>
								<option value="7">Ladder graph</option>
								<option value="8">Path graph</option>
								<option value="9">Star graph</option>
								<option value="10">Wheel graph</option>
							</select>
							<div class="input-group">
								<span class="input-group-addon" id="sizing-addon">Valeur de n</span>
								<input ng-model="generateN" id="generate_n" name="generate_n" type="number" class="form-control" aria-describedby="sizing-addon"/>
							</div>
							<button class="btn btn-default" type="submit">OK</button>
						</form>
					</uib-accordion-group>
			</uib-tab>
			<uib-tab>
				<uib-tab-heading>
					Existant
				</uib-tab-heading>
				<form class="form-horizontal">
	                <!-- {% csrf_token %} -->
	                <div class="form-group">
	                    <label for="graph_id" class="col-sm-2 control-label">Graph</label>
	                    <div class="col-sm-10">
	                        <select class="form-control" name="graph_id" ng-model="currentIndex" ng-options="parseInt(index) as graph.name for (index, graph) in graphList" ng-change="setCurrentIndex(currentIndex)">
	                            <!--<option value="">Choisir</option>-->
	                        </select>
	                        <p ng-if="graphList === []">No graphs are available.</p>
	                    </div>
	                </div>
	            </form>
			</uib-tab>
		</uib-tabset>

		<div class="text-center">
			<button class="btn btn-primary" ng-click="export(currentGraph)"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Export Graph (JSON)</button>
	    </div>

        </div>
</div>

<!-- Infection -->
<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">Infection {{currentInfectionIndex}} for {{graphList[currentIndex].name}}</h3></div>
	<div class="panel-body">
		<uib-tabset>
			<uib-tab>
				<uib-tab-heading>
					Nouveau
				</uib-tab-heading>
				<uib-accordion>
					<uib-accordion-group is-open="status.open4">
						<uib-accordion-heading>
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOneInfection" aria-expanded="true" aria-controls="collapseOneInfection"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Importer</a>
								<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': status.open4, 'glyphicon-chevron-right': !status.open4}"></i>
							</h4>
						</uib-accordion-heading>

						<input type="file" on-read-file="uploadInfection($fileContent)" accept="application/json"/>

					</uib-accordion-group>
					<uib-accordion-group is-open="status.open5">
						<uib-accordion-heading>
							<h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Générer
                                </a>
								<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': status.open5, 'glyphicon-chevron-right': !status.open5}"></i>
                            </h4>
						</uib-accordion-heading>
						<form class="form-horizontal" ng-submit="generateGraph(generationInfectionMethod, generateInfectionN, true)">
							<!--{% csrf_token %}-->
							<select class="form-control" name="generate_method" ng-model="generationInfectionMethod">
								<option value="1">Complete graph</option>
								<option value="2">Cycle graph</option>
								<option value="3">Circular ladder graph</option>
								<option value="4">Dorogovtsev_goltsev_mendes graph</option>
								<option value="5">Empty graph</option>
								<option value="6">Hypercube graph</option>
								<option value="7">Ladder graph</option>
								<option value="8">Path graph</option>
								<option value="9">Star graph</option>
								<option value="10">Wheel graph</option>
							</select>
							<div class="input-group">
								<span class="input-group-addon" id="sizing-addon">Valeur de n</span>
								<input ng-model="generateInfectionN" id="generate_n" name="generate_n" type="number" class="form-control" aria-describedby="sizing-addon"/>
							</div>
							<button class="btn btn-default" type="submit">OK</button>
						</form>
					</uib-accordion-group>
				</uib-accordion>
			</uib-tab>
			<uib-tab>
				<uib-tab-heading>
					Existant
				</uib-tab-heading>
				<form class="form-horizontal">
	                <div class="form-group">
	                    <label for="infection_id" class="col-sm-2 control-label">Infection</label>
	                    <div class="col-sm-10">
	                        <select class="form-control" name="infection_id" ng-model="currentInfectionIndex" ng-options="parseInt(index) as infection.name for (index, infection) in infectionList" ng-change="setCurrentInfectionIndex(currentInfectionIndex)">
	                            <!--<option value="">Choisir</option>-->
	                        </select>
	                        <p ng-if="infectionList === []">No infection graphs are available.</p>
	                    </div>
	                </div>
	            </form>
			</uib-tab>
		</uib-tabset>

		<!-- Export infection -->
		<div class="text-center">
			<button class="btn btn-primary" ng-click="export(currentInfection)"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Export Infection (JSON)</button>
	    </div>
	</div>
</div>

<!-- Algorithm -->
<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">Choose Algorithm</h3></div>
	<div class="panel-body">
		<div class="text-center">
			<!--<form class="form-horizontal" method="post" action="/graph/import/algorithm/" enctype="multipart/form-data">
				<div class="form-actions">
					<input type="file" name="import_algorithm" accept="application/*"/>
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
						Import Algorithm (*.py)
					</button>
				</div>
			</form>-->
			<form class="form-horizontal" ng-submit="applyAlgorithm(algorithmMethod, sourceHyp)">
				<select class="form-control" name="algorithm_method" ng-model="algorithmMethod">
					<option value="1">Shah and Zaman</option>
					<option value="2">Netsleuth</option>
				</select>
				<h4>Paramètres de l'algorithme</h4>
				<div class="input-group" ng-if="algorithmMethod==1">
					<span class="input-group-addon" id="siz-addon">Source of BFS tree</span>
					<input ng-model="$parent.sourceHyp" id="source_hyp" name="source_hyp" type="number" class="form-control" aria-describedby="siz-addon" placeholder="Infected node"/>
				</div>
				<button class="btn btn-default" type="submit">OK</button>
			</form>
		</div>
	</div>
</div>
</div>

<!-- Canvas with graph drawing -->
<div class="col-md-7" id="canvas" style="position:relative;">
	<!--<uib-alert ng-if="source!==undefined" type="success"><md-icon>info</md-icon> Source is {{ source }}</uib-alert>-->

	<md-fab-speed-dial class="md-fling md-fab-top-right" md-direction="left">
		<md-fab-trigger>
			<md-button class="md-fab md-primary">
				<md-tooltip md-direction="top">Settings</md-tooltip>
				<md-icon>settings</md-icon>
			</md-button>
		</md-fab-trigger>
		<!--<md-toolbar>-->
			<md-fab-actions>
				<md-button class="md-fab md-raised md-mini" ng-click="toggleSide()">
					<md-tooltip md-direction="top">Parameters of view</md-tooltip>
					<md-icon>build</md-icon>
				</md-button>
				<md-button class="md-fab md-raised md-mini" ng-click="addNode()">
					<md-tooltip md-direction="top">Add a node</md-tooltip>
					<md-icon>add</md-icon>
				</md-button>
				<md-button class="md-fab md-raised md-mini" ng-click="addEdge()">
					<md-tooltip md-direction="top">Add an edge</md-tooltip>
					<md-icon>timeline</md-icon>
				</md-button>
				<md-button class="md-fab md-raised md-mini" ng-click="updateInfectMode()" ng-class="{'md-primary': infectMode}">
					<md-tooltip md-direction="top">Infection mode</md-tooltip>
					<md-icon>settings_input_antenna</md-icon>
				</md-button>
			</md-fab-actions>
		<!--</md-toolbar>-->
	</md-fab-speed-dial>

	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
		<md-toolbar class="md-theme-light">
			<h1 class="md-toolbar-tools">Parameters of view</h1>
		</md-toolbar>
		<md-content layout-padding ng-controller="SidenavCtrl">
			<div layout>
				<div flex="40" layout layout-align="center center">
					<span class="md-body-1">Charge</span>
				</div>
				<md-slider flex min="-200" max="0" ng-model="params.charge" class="md-primary" aria-label="charge" id="charge-slider">
				</md-slider>
				<div flex="20" layout layout-align="center center">
					<input flex type="number" ng-model="params.charge" aria-label="charge" aria-controls="charge-slider"/>
				</div>
			</div>
			<div layout>
				<div flex="40" layout layout-align="center center">
					<span class="md-body-1">Link distance</span>
				</div>
				<md-slider flex min="0" max="100" ng-model="params.linkDistance" class="md-primary" aria-label="linkDistance" id="linkDistance-slider">
				</md-slider>
				<div flex="20" layout layout-align="center center">
					<input flex type="number" ng-model="params.linkDistance" aria-label="linkDistance" aria-controls="linkDistance-slider"/>
				</div>
			</div>
			<div layout>
				<div flex="40" layout layout-align="center center">
					<span class="md-body-1">Zoom & Pan</span>
				</div>
				<md-switch ng-model="params.zoom" aria-label="zoom-switch">
				</md-switch>
			</div>
			<div layout>
				<div flex="40" layout layout-align="center center">
					<span class="md-body-1">Show labels</span>
				</div>
				<md-switch ng-model="params.showLabels" aria-label="showLabels-switch">
				</md-switch>
			</div>
			<md-button ng-click="close()" class="md-primary" hide-gt-md>
				<md-icon>close</md-icon>
	          	Close
	        </md-button>
		</md-content>
	</md-sidenav>

    <d3graph graph-data="{{currentGraph}}" infection-data="{{currentInfection}}" infect-mode="infectMode" source="source" infect-node="infectNode(node, infected)"></d3graph>
	<md-toolbar>
		<div ng-if="source!==undefined" class="md-toolbar-tools">
			Time : {{timeElapsed}} s
			<span flex></span>
			Source : {{source}}
		</div>
		<div ng-if="source === undefined" class="md-toolbar-tools">
			No algorithm applied
		</div>
	</md-toolbar>
</div>

</div>
