<div class="col-md-4">
	<uib-alert ng-if="error" type="danger" close="closeAlert()">{{error}}</uib-alert>

	<md-tabs md-dynamic-height md-border-bottom>

		<!-- Graph -->
		<md-tab label="graph">
			<md-content class="md-padding">
				<ng-include src="'views/graph.html'"></ng-include>
			</md-content>
		</md-tab>

		<!-- Infection -->
		<md-tab label="infection">
			<md-content class="md-padding">
				<ng-include src="'views/infection.html'"></ng-include>
			</md-content>
		</md-tab>

		<!-- Algorithm -->
		<md-tab label="algorithm">
			<md-content class="md-padding">
				<ng-include src="'views/algorithm.html'"></ng-include>
			</md-content>
		</md-tab>
	</md-tabs>

</div>

<!-- Canvas with graph drawing -->
<div class="col-md-8" ng-include src="'views/canvas.html'">
</div>

</div>
