<!--<button type="button" class="btn btn-primary" ng-model="select" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
    Select nodes
</button>-->
<md-content layout-padding layout-align="center center">
    <h3 class="md-title">{{title}}</h3>
    <md-switch ng-model="select">
        Select nodes manually
    </md-switch>
    <md-chips ng-model="nodes" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-require-match="true">
        <md-autocomplete placeholder="Search for a node"
            md-autoselect="true" md-select-on-match="true" md-match-case-insensitive="true"
            md-selected-item="selectedNode"
            md-search-text="searchNode"
            md-items="node in querySearch(searchNode)"
            md-item-text="node.id">
            <span md-highlight-text="searchNode">{{node.id}}</span>
        </md-autocomplete>
        <md-chip-template>
            {{$chip}}
        </md-chip-template>
    </md-chips>
</md-content>
